
/* Mobile */
@media (max-width: 600px) {
  
    
    
    .titulo {  font-size: 10px; text-align: center; font-family:  'Outfit';
                margin-left: 10%;margin-right: 10%; margin-top: -6px; }
    .texto { font-size: 15px; text-align: center; color: hsl(220, 15%, 55%);font-family: 'Outfit'; 
                margin-left: 10%;margin-right: 10%;}


    body{
        background:hsl(212, 45%, 89%);
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        /* margin: auto;
        width: 50%;
        height: 50%; */
    }

    #caja{
        width:325px;
        height:500px;
        background:hsl(0, 0%, 100%);
        margin-top:20%;
        border:5px solid hsl(212, 45%, 89%);
        border-radius:30px
    }
    img {
    margin:15px;
    border-radius: 10px;
    }
}
/* desktop */
@media (min-width: 601px) {
  
    
    
    .titulo {  font-size: 10px; text-align: center; font-family:  'Outfit';
                margin-left: 10%;margin-right: 10%; margin-top: -6px; }
    .texto { font-size: 15px; text-align: center; color: hsl(220, 15%, 55%);font-family: 'Outfit'; 
                margin-left: 10%;margin-right: 10%;}


    body{
        background:hsl(212, 45%, 89%);
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        /* margin: auto;
        width: 50%;
        height: 50%; */
    }

    #caja{
        width:325px;
        height:500px;
        background:hsl(0, 0%, 100%);
        margin-top:20%;
        border:5px solid hsl(212, 45%, 89%);
        border-radius:30px
    }
    img {
    margin:15px;
    border-radius: 10px;
    }
}